@page {
    margin-top: 2cm;
    margin: 1.5cm;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
}

/* Equitable Header Sizes */
h1 { font-size: 1.2em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1.0em; }
